@media (max-width: 960px) {

	.header__menu-btn {
		display: block;
	}
	.header__menu > ul {
		display: none;
		position: absolute;
		z-index: 2;
		top: 60px;
		left: 0;
		right: 0;
		width: 100%;
		background-color: #fff;
	}
	.header__menu ul li {
		width: 100%;
	}
	.header__menu li + li {
    padding: 0;
	}

	.header__menu-link {
		display: block;
		padding: 10px 0;
	}

	.header__list {
		text-align: center;
	}

	.slider-bottom__item {
		margin-right: calc((100vw - 20px - (5 * 140px)) / 4);
		}
}

	.works__items {
		justify-content: space-around;
		flex-wrap: wrap;
	}

	.works__item {
		margin-right: 20px;
	}

	.footer__about {
		margin-right: 15px;
	}
	.footer__widget {
		margin-right: 15px;
	}


@media (max-width: 880px) {
	.news__inner {
		flex-wrap: wrap;
		margin-top: 0;
	}
	.news__item {
		padding-left: 20px;
		margin-top: 30px;
		max-width: 50%;
	}
	.slider-bottom__item {
		margin-right: calc((100vw - 20px - (4 * 140px)) / 3);
	}
}

@media (max-width: 600px) {
	.news__item {
		max-width: 100%;
	}
	.slider-bottom__item {
		display: none;
	}
}

@media (max-width: 500px) {
	.slider__item-text {
	max-width: 500px;
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 10px;
	}

	.item-text__text {
		margin-top: 10px;
		width: 80%;
	}

	.footer__inner {
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.footer__contact {
		margin-top: 20px;
	}
}


@media (max-width: 360px) {
	

	.item-text__title {
    margin-bottom: 7px;
	}
} 